    * {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
        } 

    :root {
                --main-color: #121F97;
                --text-bright-color: white;
                --icon-color: #fff;
                --icon-bk-color: #ddd;
                --large-width: 1000px;
                --head-font : 2.5em;
                --sub-font : 1.5em;
                --img-height : 300px;
                --img-width : 1200px;
              }     

            * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;



        }

        .header {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            position: fixed;
            border: 2px solid black;
            background-color: white;
            display: flex;
            align-items:center;
            margin-right: auto;
            margin-left: auto;
            flex-wrap: nowrap;
            width: 100vw;
            justify-content: space-between;
            background: white;
            


        }

        .header img {
            height: 3.3vw;
            float: left;
        }


        .header ul{
            list-style: none;
            display: flex;
        }


        .header li {
            
            border-left:2px solid black; 
            padding-left: 20px;
            
        }

        .header a{
            color: inherit;
            font-size: 1em;
            text-decoration: none;
            line-height: 3.38vw;


        }

        .header li:hover{
            background-color: #2340AD;
            color: white;

        }

        .header li:not(:last-child) {
            padding-right: 20px;
        }

        .header li:nth-child(6) {
            border-right: 2px solid rgb(0, 0, 0);
            padding-right: 1.04vw; 
            

        }

        .header-svg  {
            margin-top: 5.2vw;
            margin-left: 5.72vw;
        
        }

        .cont{
            
            height: 100vw;
            padding-top:3.9vw;
        }

        .logo{
            margin-left: 15.2vw;
            padding-left: 20px;
            padding-right: 20px;
            border-left: 2px solid black ;
            border-right:2px solid black ;
        }

        .guest{
            margin-right: 15.7vw;
        }

    
    .conA img { 

                margin-right: auto;
                margin-left: auto;
                display: block;
                width: 1200px;
                height: 100vh;
                border : 1px solid gray;

    }

    /* 플랜에이 작품소개 */
    .main-content {
        display: flex;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    .conB .main-text {
        font-size: 12px;
    }

    .conB .sub-text {
         font-size: 12px;
         margin-top: 120px;
    }
 

    /* 수현 현나 자경프로필 */


    .conC {
        display: flex;
        margin-left: 100px;
    }


    .profile-box {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }


    .conC .gu-profile {
        width: 110px;
        height: 180px;
        border: 1px solid black;
        margin-right: 20px;
    }

    .conC .lee-profile {
        width: 110px;
        height: 180px;
        border: 1px solid black;
        margin-right: 20px;
    }

    .conC .jeon-profile {
         width: 110px;
        height: 180px;
        border: 1px solid black;
    }

    /*plan A 디테일 */
    
    .conD {
        height: 200px;
        width: 1200px;
        background-color: #eeeeee;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
        margin-top: 70px;
        
    }

    .conF {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;

    }

    .conF-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;

    }

    .conG {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;
    }

    .conG-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }

    .conH {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;
    }

    .conH-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }

    .conJ {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;
    }

    .conJ-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }

    .conK {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;
    }

    .conK-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }

    .conL {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;
    }

    .conL-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }

     .conM {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;
    }

    .conM-video{
        display: block;
        margin-left: auto;
        margin-right: auto;


        text-align: center;

    }

    .conN {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;
    }

    .conN-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }

    .conO {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;
    }

    .conO-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }

    .conP {
        height: 200px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-size: 12px;
        border : 1px solid #CFCFCF;
    }

    .conP-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }

    .conQ {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: nowrap;
    }

    .conQ .comment-info {
        display: flex;
        margin-top: 75px;
    }

    .conQ .comment-input {
        display: flex;
        margin-top: 20px;
    }

    .conQ p {
        margin-top: 40px;
    }


    .conQ .comment-name {
        border : 1px solid #CFCFCF;
        line-height: 40px;
        padding-left: 20px;
        width: 200px;
    }

    .conQ .comment-password {
        border : 1px solid #CFCFCF;
        line-height: 40px;
        padding-left: 20px;
        width: 200px;
        margin-left: 20px;
    }

    .conQ .comment-text {
        width: 1000px;
        height: 200px;
        border : 1px solid #CFCFCF;
    }

    .conQ .comment-put {
        width: 198px;
        height: 200px;
        background-color: black;
        color: white;
        text-align: center;
        line-height: 200px;
        text-decoration: none;
    }

    footer{
            position: absolute;

            margin-top: 100px;

            width:100%;

            height:255px;   

            background:#1B1B1B;
        }

        footer p{
            /*position: absolute;*/
            /*margin-top: 2400px;*/
            font-size: 16px;
            color: #fff;
            text-align: center;
            line-height: 255px;
        }





